html {
    height: 100%;
}

body {
    /* background-color: rgb(81, 95, 160); */
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100%;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.card {
    color: white;
    background-color: rgb(17, 17, 95);
    max-height: fit-content;
}

.btn-primary {
    background-color: rgb(17, 17, 95);
    border: 1px solid rgb(17, 17, 95);
}

.container {
    background-color: rgba(0,0,0,0.75);
    border-radius: 12px;
    /* height: 100%; */
}

.img-preview {
    max-height: 150px;
    object-fit:cover;
    object-position: 10% 10%;
}

.movie-container {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.snack-container {
    border-top: 2px solid white;
}

/* div {
    border: 1px solid white;
} */