body {
    background-color: rgb(160, 81, 81);
    color: white;
}

.card {
    color: black;
    background-color: pink;
    max-height: fit-content;
}

.img-preview {
    max-height: 150px;
    object-fit:cover;
    object-position: 10% 10%;
}

/* #navbarNav > a {
    margin: 4px;
} */

div {
    border: 1px solid white;
}