{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <div class="row justify-content-center">
            <div class="col-4">
                <form action="/user/signup" method="POST">
                    <fieldset>
                        <legend>New User Signup</legend>
                        <label class="form-label" for="username">Username:</label>
                        <input type="text" id="username" name="username" class="form-control">
                        <label class="form-label" for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </fieldset>
                    <input 
                        type="submit" 
                        value="Create Account" 
                        class="btn btn-success my-3"
                    >
                </form>
            </div>
        </div>
    </div>
{% endblock %}