{% layout 'layout.liquid' %}

{% block content %}
Hello, {{session.username}}
{{user}}
{{parties[0]}}
{% if session.username %}
    <a href="/parties/new">Create New Watch Party</a>
{% endif %}
{% endblock %}