{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/parties/new" method="POST">
        <fieldset>
            <legend>Create New Watch Party</legend>
            <label class="form-label" for="name">Party Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
            <label class="form-label" for="date">Party Date:</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </fieldset>
        <input 
            type="submit" 
            value="Create" 
            class="btn btn-success"
        >
    </form>
</div>
<div class="container-md">
    <form action="/parties" method="GET">
        <input class="btn btn-danger" type="submit" value="Return to Main Page">
    </form>
</div>
{% endblock %}